[MESSAGES CONTROL]
disable=
    duplicate-code,  # Integration tests tend to test similar things
    import-outside-toplevel,  # Done on purpose to reduce overhead at startup
    invalid-name,  # Module name or methods do not follow snake_case convention
    line-too-long,  # Flake8 is used for testing line-length
max-line-length=160
